<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shorted link</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer type="module" src="/static/saved_url/index.js"></script>
    <style>
      body {
        height: 100vh;
      }
    </style>
  </head>
  <body class="bg-gray-800 text-white">
    <nav class="h-[5%] p-1 flex justify-center items-center">
      <ul class="text-2xl flex gap-x-5 ">
        <li><a class="" href="/">home</a></li>
        <li><a class="underline font-bold" href="/saved-url">saved-url</a></li>
    </ul>
    </nav>
    <section class="h-[90%] overflow-y-scroll flex justify-center">
      <div
        id="saved-url"
        class="w-[75%] grid grid-cols-1 md:grid-cols-3 gap-5 my-5"
      ></div>
    </section>
    <footer class="bg-gray-950 h-[5%] flex justify-center items-center">
      developed by Lucas Xavier Vieira
    </footer>
  </body>
</html>
