<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shorted link</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer type="module" src="/static/saved_url/index.js"></script>
    <style>
      body {
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <nav class="h-[5%] flex justify-center items-center">
      <ul class="flex gap-x-2">
        <li><a class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600" href="/">home</a></li>
        <li><a class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600" href="/saved-url">saved-url</a></li>
    </ul>
    </nav>
    <section class="h-[90%] overflow-y-scroll flex justify-center py-5">
      <div
        id="saved-url"
        class="w-[75%] grid grid-cols-1 md:grid-cols-3 gap-5"
      ></div>
    </section>
    <footer class="h-[5%] flex justify-center items-center">
      developed by Lucas Xavier Vieira
    </footer>
  </body>
</html>
